# OrbitOS Live ISO — SYSLINUX (BIOS boot)

DEFAULT orbitos
PROMPT 1
TIMEOUT 100

UI vesamenu.c32

MENU TITLE OrbitOS Live
MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #9017d4e8 #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR msg07        37;40   #90ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #30ffffff #00000000 std

LABEL orbitos
    MENU LABEL OrbitOS Live (KDE Plasma)
    LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
    INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G

LABEL orbitos-ram
    MENU LABEL OrbitOS Live (Copy to RAM)
    LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
    INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G copytoram=y

LABEL orbitos-safe
    MENU LABEL OrbitOS Live (Safe Graphics)
    LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen
    INITRD /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G nomodeset

LABEL reboot
    MENU LABEL Reboot
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL Power Off
    COM32 poweroff.c32
